services:
  - type: web
    name: netflix-recommendation-api  # Change this to your app name
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    plan: free
    envVars:
      - key: PORT
        value: 10000
